{% load comic_tags %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/comic.css' %}" rel="stylesheet">
</head>
    {% if request.user.is_authenticated %}
        <h1>Greetings, {{ user.username }}!</h1>
        {% if section == "landing" %}class="selected"{% endif %}
        <form action="{% url "landing" %}" method="post">
            <button type="submit">Landing Page</button>
            {% csrf_token %}
        </form>
        <form action="{% url "logout" %}" method="post">
            <button type="submit">Logout</button>
            {% csrf_token %}
        </form>
            <button id="special" type="button">Special Feature</button>
    {% else %}
        <a href="{% url "login" %}">Log-in</a>
    {% endif %}
    </span>
<body class="base">
    <div id="content" class="wrapper">
        {% block content %}
        {% endblock %}
    </div>
    <hr>
    <div id="footer" style="text-align: center;">
        <h2>© Micah Duff    2026</h2>
    </div>
    <script>
        
        const specialFeature = document.getElementById("special");
        const colorArray = ['#ff5377','#ee6611','#af1234','green'];
        let currentColorIndex = 0;
        
        function changeColor(newColor) 
        {
            document.body.style.backgroundColor = newColor;
        }
        
        if (specialFeature) 
        {
            specialFeature.addEventListener('click', () => {
                changeColor(colorArray[currentColorIndex]);
                currentColorIndex = (currentColorIndex + 1) % colorArray.length;
            });
        }
    </script>
</body>
</html>