{% extends "comic/base.html" %}
{% block title %}MAD COMICS{% endblock %}
{% block content %}
    <h1>MAD COMICS</h1>
    <h2>DAILY FEATURE - {{ latest_comic.title }}</h2>
    <p class="date" style="align-self: center;">
        <img src="{{ latest_comic.comic_img.url }}" alt="{{ latest_comic.title }}" style="max-width: 300px; max-height: 300px;">
    </p>
    <hr>
    {% for post in posts %}
        <h2>
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
        </h2>
        <p class="date">
            Published {{ post.publish }} by {{ post.author }}
        </p>
        {{ post.body|truncatewords:30|linebreaks }}
    {% endfor %}
{% endblock %}