{% extends "comic/base.html" %}
{% load comic_tags %}
{% block title %}MAD COMICS{% endblock %}
{% block content %}
    <p class="date" style="align-self: center;">
        <h1>MAD's Daily Feature</h1>
        {% daily_feature %}
    </p>
    <hr>
    {% for post in posts %}
        <h2>
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
        </h2>
        <p class="date">
            Published {{ post.publish }} by {{ post.author }}
        </p>
        {{ post.body|truncatewords:30|linebreaks }}
    {% endfor %}
{% endblock %}